
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=4a72f5d476f5b8602f5e1488a51aeac1
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress