@import 'import/mixin';

.s37-fade {
  display: none;
}

.s37-post-single img {
  width: 100%;
  max-width: 100%;
  height: auto;
  &.aligncenter {
    display: block;
    clear: both;

    margin: 0 auto;
  }
}


img {
  border-radius: 4px;
}

.col {
  padding-bottom: 15px;
}

.s37-thumbnail {
  width: 100%;
  height: auto;
}

.caption-title a {
  text-decoration: none;

  color: #333;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

@media (min-width: 300px) {
  .avatar-left {
    float: left !important;

    margin-right: 10px;
  }

  .date-left {
    float: left !important;

    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  #comments-list ul {
    margin: 0;
    padding: 0;
  }
}

.s37-thumbnail {
  position: relative;
  .s37-caption {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px 0 20px;

    color: #fff;
    border-radius: 4px;

    @include linear-gradient(top left, white, #a6f2c0 30%, rgba(180, 200, 210, .9), black);
    a {
      color: #fff;
    }
  }
}

td.text-right {
  text-align: right;
}

.footer {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0 0 0;

  background-color: #424242;
}

.rambler_counter {
  display: none;

  width: 0;
  height: 0;

  border: 0;
}

.meta-date-com {
  margin-top: 30px;
  padding-top: 10px;

  border-top: 1px solid #eee;
}

/**
* Social buttons
*/

.btn-fb {
  background-color: #3a569f;
  &:link,
  &:hover,
  &:active,
  &:visited {
    background-color: #3a569f;
  }
  &:hover,
  &:active {
    opacity: .9;
  }
}

.btn-tw {
  background-color: #21aaf6;
  &:link,
  &:hover,
  &:active,
  &:visited {
    background-color: #21aaf6;
  }
  &:hover,
  &:active {
    opacity: .9;
  }
}

.btn-vk {
  background-color: #4e74a7;
  &:link,
  &:hover,
  &:active,
  &:visited {
    background-color: #4e74a7;
  }
  &:hover,
  &:active {
    opacity: .9;
  }
}
